@use './reset.scss';
@use './variables.scss' as *;
@use './fonts';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $bg-soft;
}

* {
  font-family: $font-family-base;
}