services:
  landing:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    networks:
      - proxy
    expose:
      - "3000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.landing.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.landing.entrypoints=websecure"
      - "traefik.http.routers.landing.tls=true"
      - "traefik.http.routers.landing.tls.certresolver=myresolver"
      - "traefik.http.services.landing.loadbalancer.server.port=3000"

networks:
  proxy:
    external: true
